/* Border for Images */
img{
  height: 10rem;
  border: 1px solid black;
}

img:hover{
  height: 10rem;
  border: 1px solid red;
}


/* Colors for Swatches*/
.bg-black{
  background-color: black;
}

.bg-orange{
  background-color: orange;
}

.bg-gray{
  background-color: gray;
}

.bg-blue{
  background-color: blue;
}


/* Swatch CSS rules */
.swatches li{
  list-style-type: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  float: left;
  margin: .5em;
}

.clearfix{
  clear: both;
}

/* Rules for text underneath image */
a{
  text-decoration: none;
}

.underlineHover:hover{
  text-decoration: underline;
}
