/* Tightens up white space within modules */
*{
  margin: 0;
  padding: 0;
}


/* Container_Row rules that house groups of modules */
.container_row{
  margin-right: 0px;
  margin-left: 0px;
}

.container_row:before,
.container_row:after {
  display: table;
  content: " ";
}

.container_row:after {
  clear: both;
}


/* Module rule for each image and text */
.module{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 20%;
}


/* Border for Images */
img{
  height: 10rem;
  border: 1px solid black;
}

img:hover{
  height: 10rem;
  border: 1px solid red;
}


/* Colors for Swatches*/
.bg-black{
  background-color: black;
}

.bg-orange{
  background-color: orange;
}

.bg-darkred{
  background-color:darkred;
}

.bg-gray{
  background-color: gray;
}

.bg-blue{
  background-color: blue;
}


/* Swatch CSS rules */
.swatches li{
  list-style-type: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  float: left;
  margin: .5em;
}

.clearfix{
  clear: both;
}


/* Rules for text underneath image */
a{
  text-decoration: none;
}

.underlineHover:hover{
  text-decoration: underline;
}

h3, p{
  color: black;
}

.redText{
  color: red;
}

.strikethrough{
  text-decoration: line-through;
  font-weight: bold;
}


/* Star Rating Element */
.star{
  color: red;
  font-size: 1.5rem;
}


/* Submit Button */
.button{
  padding: 5px 15px;
}